.personnalNavigation {
    .iconWhite {
        color:$colorwhite;
        font-size: 1.3em;
        padding: 0.3em;
        vertical-align: middle;
    }

    .flagIcon {
        margin-left: 0.6em;
        vertical-align: middle;
        width: 2em;
    }
}