.searchCard{
    margin-left: 2em;
    margin-bottom: 2em;
    &:hover{
        background-color: $colorblue;
        .details-container{
        color: $colorblack;
        }
    }
}
.searchCard-cover {
    width: 17em;
    height: 17em;
}
.details-container {
    color: $colorwhite;
    width: 17em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
.albumTitle {
    font-size: 1.5em;
    font-weight: bolder;
}
.details {
    font-size: 1em;
}
.addToCart {
    background-color: transparent;
    border-style: none;
    font-size: 1.5em;
    color:$coloryellow;
}

