.top10 {
    .titleContainer {
        background-color: $colorblue;
        font-size: 1.8em;
        padding: 0.1em 1em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .content {
        background-color: $colorblack;
        padding: 0.1em 0.5em 1em 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    }
}